---
import Counter from '../components/Counter'
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body class="bg-slate-800 text-slate-200">
	<Counter client:visible>
		<h1>Hello, Preact!</h1>
	</Counter>
</body>

</html>