---
import WordlePreact from '../components/WordlePreact'
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Wordle with Preact</title>
</head>

<body class="bg-slate-800 text-slate-200">
	<section class="max-w-6xl mx-auto min-h-screen py-16 flex flex-col">
		<h2 class="text-center text-4xl">Wordle with Preact</h2>
		<WordlePreact client:visible />
	</section>
	<footer class="h-16 leading-[4rem] text-center bg-slate-900">
		Source code can be found
		<a href="https://github.com/ZikXewen/astro-wordle" class="underline">here</a>.
	</footer>
</body>

</html>