---
import WasmMinesweeper from '../components/WasmMinesweeper.astro'
import WordlePreact from '../components/WordlePreact'
import TicTacToe from '../components/TicTacToe.svelte'
import Game from '../components/Game.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Minigames</title>
  </head>

  <body class="bg-slate-800 text-slate-200">
    <Game title="Minesweeper" techs={['rust', 'wasm', 'ts', 'tw']}>
      <WasmMinesweeper />
    </Game>
    <Game title="Wordle" techs={['preact', 'ts', 'tw']}>
      <WordlePreact client:visible />
    </Game>
    <Game title="Tic-Tac-Toe" techs={['svelte', 'tw']}>
      <TicTacToe client:visible />
    </Game>
    <footer class="h-16 leading-[4rem] text-center bg-slate-900">
      Powered by
      <a href="https://astro.build/" class="underline">Astro</a>. Source code
      can be found
      <a href="https://github.com/ZikXewen/astro-games" class="underline"
        >here
      </a>.
    </footer>
  </body>
</html>
